@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  box-sizing: border-box;
}
body,
html {
  margin: 0;
  padding: 0;
}
button,
input[type="submit"],
input[type="reset"] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.list {
  width: 400px;
  margin: 50px auto 0;
  font-family: "Roboto", sans-serif;
  // display: flex;
  // justify-content: center;
  // align-items: center;
  // flex-direction: column;
  // margin-top: 50px;
}
form {
  input[type="text"],
  input[type="number"] {
    width: 100%;
    padding: 7px 5px;
  }
  .radioGroup,
  .inputGroup {
    margin: 20px 0;
  }
  .radioGroup {
    input {
      margin-top: -1px;
      vertical-align: middle;
    }
    label {
      font-weight: 300;
    }
  }
  .inputGroup {
    label {
      display: block;
      margin-bottom: 8px;
      font-weight: 300;
      font-size: 18px;
    }
  }
  button {
    width: 100%;
    margin-top: 20px;
    padding: 5px;
    background-color: #3452eb;
    color: white;
    border-radius: 4px;
    // text-transform: uppercase;
    font-weight: bolder;
  }
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background: #eee;
  background-image: none;
}
/* Remove IE arrow */
select::-ms-expand {
  display: none;
}
/* Custom Select */
.select {
  position: relative;
  display: flex;
  // width: 20em;
  height: 3em;
  line-height: 3;
  background: #2c3e50;
  overflow: hidden;
  border-radius: 0.25em;
}
select {
  font-size: 16px;
  flex: 1;
  padding: 0 0.5em;
  // color: #fff;
  cursor: pointer;
}
/* Arrow */
.select::after {
  content: "\25BC";
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 1em;
  // background: #3452eb;
  cursor: pointer;
  color: #3452eb;
  pointer-events: none;
  -webkit-transition: 0.25s all ease;
  -o-transition: 0.25s all ease;
  transition: 0.25s all ease;
}
/* Transition */
.select:hover::after {
  color: white;
}

table,
th {
  // border: 1px solid black;
  // min-width: 150px;

  width: 100%;
}
table {
  // margin: 10px 0;
  border-collapse: collapse;
  tr {
    margin: 20px 0;
    td,
    th {
      font-size: 18px;
      text-align: right;
      &:first-of-type {
        text-align: left;
      }
    }

    th.category {
      text-align: center;
    }
  }
  td {
    font-weight: 300;
    padding: 5px;
    &:first-of-type {
      font-style: italic;
    }
  }
  th {
    padding-bottom: 10px;
    font-weight: 400;
  }
}
.remove {
  font-size: 16px !important;
}
h2 {
  text-align: center;
  margin-bottom: 20px;
  font-weight: 300;
  font-size: 2.5em;
  letter-spacing: 5px;
  text-transform: uppercase;
  margin: 40px 0;
}
.paper {
  p {
    span {
      font-weight: 300;
    }
  }
  margin-bottom: 40px;
  background-color: #fafafa;
  box-shadow: 5px 5px 8px rgba(black, 0.1);
  border-radius: 20px;
  padding: 10px;
}
